// Define variables for your color scheme

//THESE COLOURS ARE USED IN BOOTSTRAP

// For example:
$red: #A11D33;
$purple: #6E45DF;
$light-purple: #A28BE3;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #90909010;


//CUSTOM COLOURS

$black: #241E20;
$text-light-gray: #a6a6a6;
