#card-show {
  height: 499px;
  object-fit: cover;
}

.card-size-limiter {
  max-height: 70vh;
}

.review-card {
  border: 3px solid $purple
}

.fa-lg {
  font-size: 1.25em;
  line-height: 1.0em;
  vertical-align: -0.075em;
}
