<%= render "shared/header" %>
<div class="container d-flex flex-column align-items-center">
  <%= image_tag "logo_with_text.png", alt:"Render Logo", width:"30%", class:"d-inline-block align-text-top" %>
  <div class="search-box">
    <input type="text" placeholder="Location...">
    <div class="search-icon">
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>
<div class="container">
<%= render "shared/card" %>
</div>
