<div>
  <%= simple_form_for [booking, @review] do |f| %>
    <%= f.input :comment, placeholder: "Add your review here..." %>
    <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
    <%= f.submit class: "btn btn-flat mt-2" %>
  <% end %>
</div>
