<nav class="navbar bg-body-tertiary px-4 border-bottom">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
    <button class="btn btn-outline-primary" type="submit">List your artwork!</button>
  </div>
</nav>
